@import './code.scss';
@import './tree.scss';
@import './search.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.site-layout {
  .site-layout-header {
    @apply flex transition-all ease-bezier duration-300 backdrop-blur-xl fixed top-0 z-10 overflow-hidden w-full bg-white/80 border-b border-solid border-black/10 h-header px-5 py-2;
  }

  .site-layout-content {
    position: relative;
    top: 50px;
    height: calc(100vh - 50px);
    transition: var(--transition);
  }
  &.hidden-header {
    .site-layout-header {
      top: -100%;
    }
    .site-layout-content {
      height: 100vh;
      top: 0;
    }
  }
}

.cm-editor {
  height: 100%;
}

.ͼ2 .cm-gutters {
  background: #ffffff;
}

.shadow-glow {
  box-shadow: 0px 1px 10px 1px #b470f0;
}

.carbonads-container {
  width: 100%;

  #carbonads * {
    margin: initial;
    padding: initial;
  }

  #carbonads {
    @apply font-sans border-solid border-outline px-5 py-3;
  }

  &.carbonads-container-sidebar {
    #carbonads {
      @apply border-t border-solid border-outline;
    }
  }

  &.carbonads-container-doc-sidebar {
    #carbonads {
      @apply border border-solid border-outline rounded;
    }
  }

  #carbonads {
    display: flex;
    width: 100%;
    background-color: transparent;
    z-index: 100;
  }

  #carbonads a {
    color: inherit;
    text-decoration: none;
  }

  #carbonads a:hover {
    color: inherit;
  }

  #carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
  }

  #carbonads .carbon-wrap {
    display: flex;
  }

  #carbonads .carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
  }

  #carbonads .carbon-img img {
    display: block;
  }

  #carbonads .carbon-text {
    font-size: 11px;
    padding: 10px;
    margin-bottom: 16px;
    line-height: 1.5;
    text-align: left;
    color: #333333;
    font-weight: 400;
  }

  #carbonads .carbon-poweredby {
    display: block;
    padding: 6px 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #8f8f8f;
  }
}
