html,
body,
#root,
.frame-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-size: 0.9rem;
  box-sizing: border-box;
}

#preloader {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.2rem;
  font-weight: 600;
  width: 70px;
  height: 20px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 100px;
  overflow: hidden;
}

#preloader:after {
  content: ' ';
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0066de;
  border-radius: 100px;
  animation: 1s infinite progress;
}

@keyframes progress {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    width: 100%;
    left: 100%;
  }

  100% {
    width: 0%;
    left: 100%;
  }
}
